/*
filename: styles.css
author: Karina Wong, Nathan Nguyen, Cee Chungyingruangrung
created: 3/04/25
last modified: 10/4/25
description: Refers to about.html, apply.html, index.html, jobs .html
*/

/* General styling for headers*/
h1 {
  font-size: 38px;
}

body {
  background-color: #e9edf5;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  margin: 0px;
}

/* Nav Bar CSS */
.about ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-weight: 400;
  font-size: 28px;
}

.about ul li a {
  text-decoration-line: none;
  color: rgb(15, 38, 87);
}

.about ul li a:hover {
  color: rgb(99, 131, 201);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #99afc7;
  padding-right: 60px;
}

.nav-logo {
  margin: 10px 0px 10px 10px;

  width: 15%;
  display: flex;
  align-items: center;

  animation: lightSpeedInLeft;
  animation-duration: 2s;
}
.nav-logo:hover {
  -webkit-animation: wobble 2s;
  animation: wobble 2s;
}

.nav-logo img {
  width: 100%;
}

.nav-links {
  width: 85%;
  padding-top: 30px;
  padding-left: 90px;
  padding-right: 90px;
}

h2 {
  font-weight: bold;
}

/* Footer */
footer {
  padding: 30px;
  background-color: #99afc7;
  text-align: center;
  font-size: 12px;
}

footer h1 {
  font-size: 20px;
}
footer h2 {
  font-size: 16px;
}

/* For the Apply page */
form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
form p,
form fieldset {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.5em;
}

form input,
form select,
form textarea {
  width: 60%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

form input:hover{
  background-color: #ccd9e7;
  color: #000000;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* Centering legend titles*/
fieldset legend {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5em;
}

/* Center group of radio/checkbox options */
fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  margin-top: 20px;
}

/* Style eotherskills */
.otherskills p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 5px 0;
}

.otherskills p label {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"],
input[type="reset"] {
  width: auto;
  padding: 10px 20px;
  font-size: 1em;
  margin: 10px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #3a5a97;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Container for each radio or checkbox + label */
.option-container {
  display: flex;
  align-items: normal;
  margin-bottom: 5px;
  width: 25%;
}

/* Input left, label right */
.option-container input[type="radio"],
.option-container input[type="checkbox"] {
  margin-right:-10%;
  transform: scale(1);
  accent-color: #3a5a97;
  margin-top: 0px;
}

.option-container label {
  font-weight: normal;
  font-size: 1em;
  margin-left: -10%;
}

/* for about us Page*/
.about-us {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.about-us h1 {
  font-weight: 300;
  font-size: 5.25em;
  margin-top: 100px;
}

.about-us h5 {
  font-weight: 200;
  font-size: 30px;
}

.about-us .main-information {
  padding: 40px;
}

.about-us table,
.about-us td,
.about-us th {
  border: 3px solid rgb(47, 58, 118);
}

.contribution {
  margin-top: 100px;
}

.text-contribution {
  float: left;
  border: 5px solid black;
  padding: 30px 50px;
  margin-left: 250px;
  border-radius: 8px;
  line-height: 2.5em;
}
.text-contribution h2 {
  font-size: 30px;
  font-weight: 400;
}
.text-contribution h3 {
  font-size: 30px;
  font-weight: 200;
}
.text-contribution h4 {
  font-size: 25px;
  font-weight: 400;
}
.text-contribution dt {
  font-size: 23px;
  font-weight: 400;
}

.text-contribution li {
  text-align: start;
  font-size: 20px;
  font-weight: 300;
}

figure img {
  border: 10px solid rgb(47, 58, 118);
  border-bottom: 60px solid rgb(47, 58, 118);
}

figure {
  float: right;
  margin-right: 250px;
}

.interest-table,
.favourite-table {
  background-color: #b8e1f2;
  font-size: 19px;
  width: 100%;
}

.interests {
  margin: 0 auto;
  margin-top: 50px;
}
.interest-table td,
.interest-table th,
.favourite-table td,
.favourite-table th {
  padding: 10px;
  transition: 0.3s;
}

.interest-table td:hover,
.interest-table th:hover,
.favourite-table td:hover,
.favourite-table th:hover {
  background-color: #5f6c84c0;
  color: #e9edf5;
}

.interest-table {
  margin-top: 50px;
}

.favourite-table .karina-colour {
  background-color: #7d93ba;
}
.favourite-table .nathan-colour {
  background-color: #87ceeb;
}
.favourite-table .cee-colour {
  background-color: #22b9f5;
}

.student-ids {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 100px;
  padding: 30px;
}

/* Can add to emphasise which page is selected*/
header ul .active-page a {
  color: rgb(99, 131, 201);
}

.job-description {
  padding: 40px;
  text-align: center;
  list-style-position: inside;
  display: flex;
}

.job-description .jobs {
  width: 65%;
  padding: 10px 55px;
  line-height: 2em;
}

.data-analyst,
.software-developer {
  margin-top: 90px;
}

h1.job-page-title {
  font-family: monospace;
  font-weight: 100;
  font-size: 55px;
  text-align: center;
  margin-top: 150px;
}
.job-description h2 {
  font-weight: 300;
  font-size: 35px;
  margin-top: 30px;
}
.job-description h3 {
  font-weight: 400;
  font-size: 30px;
  margin-top: 40px;
}
.job-description h4 {
  font-weight: 100;
  font-size: 25px;
}
.job-description p,
.job-description li {
  font-weight: 400;
  font-size: 20px;
  line-height: 2em;
}

.job-description aside {
  float: right;
  width: 25%;
  margin-top: 50px;
  border: #3a5a97 1px solid;
  padding: 2px 30px;
  overflow: hidden;
}
.job-description aside h3 {
  font-weight: 200;
}
.job-description aside li {
  font-weight: 300;
  font-size: 20px;
}

.job-description section {
  margin-bottom: 80px;
}

/* Index Page */
.home-page {
  margin: 70px;
}

.home_pic {
  width: 100%;
  left: 50px;
  bottom: 150px;
}

/* General Read more Button */

.read_more {
  border: 2px solid;
  padding: 10px;
  border-radius: 50px;
  background-color: #99afc7;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  top: 20px;
}

/* About Company Paragraph */

.about_company {
  margin-left: auto;
  font-size: 1.35em;
  display: flex;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-weight: 400;
}
.company-intro {
  margin-left: 50px;
}

ul li {
  padding: 4px;
}
.mission {
  font-size: 125%;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-weight: 400;
}

.company_read {
  border: 2px solid;
  padding: 10px;
  border-radius: 50px;
  background-color: #99afc7;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}
